//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define BASE 0
#define MATH 1
#define SYMB 2
#define ADJU  3

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&sk {
    quick-release;
    release-after-ms = <1500>;
};

&lt { flavor = "balanced"; };

/ {
    combos {
        compatible = "zmk,combos";

        print_screen {
            bindings = <&kp LS(LG(S))>;
            key-positions = <32 33 34>;
            layers = <0>;
        };

        ctrl_alt_delete {
            bindings = <&kp LC(LA(DELETE))>;
            key-positions = <35 36 37>;
        };

        bt_0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <0 10 21>;
        };

        bt_1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <22 11 1>;
        };

        mobile {
            bindings = <&bt BT_SEL 2>;
            key-positions = <2 12 23>;
        };
    };

    behaviors {
        td_sq_bracket: td_sq_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SQ_BRACKET";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_l_sq_br>, <&mp_r_sq_br>;
        };

        td_ro_bracket: td_ro_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RO_BRACKET";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LPAR>, <&kp RIGHT_PARENTHESIS>;
        };

        td_qw_bracket: td_qw_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QW_BRACKET";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_l_fg_br>, <&mp_r_fg_br>;
        };

        enter_on_space: enter_on_space {
            compatible = "zmk,behavior-mod-morph";
            label = "ENTER_ON_SPACE";
            bindings = <&lt 1 SPACE>, <&kp ENTER>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_RSFT|MOD_RCTL)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        undo_on_delete: undo_on_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDO_ON_DELETE";
            bindings = <&kp DELETE>, <&kp LC(Z)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        hidden_tab: hidden_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "HIDDEN_TAB";
            bindings = <&lt 2 UNDERSCORE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_RSFT|MOD_RCTL|MOD_LALT|MOD_RALT)>;
            keep-mods = <(MOD_LALT|MOD_RALT|MOD_LSFT|MOD_RSFT)>;
        };

        q_esc: q_esc {
            compatible = "zmk,behavior-mod-morph";
            label = "Q_ESC";
            bindings = <&kp Q>, <&kp ESC>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mods_on_left_0: mods_on_left_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "MODS_ON_LEFT_0";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "hold-preferred";
            hold-while-undecided;
        };

        mm_altab_on_alt: mm_altab_on_alt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_ALTAB_ON_ALT";
            bindings = <&kp LEFT_ALT>, <&kp LA(TAB)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        td_doots: td_doots {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOOTS";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_dot_dot>, <&mp_dot_comma>;
        };

        td_quotes: td_quotes {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOTES";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_s_quote>, <&mp_d_quote>;
        };

        td_gr_tild: td_gr_tild {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_GR_TILD";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_grave>, <&mp_tilda>;
        };

        td_plus_minus: td_plus_minus {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PLUS_MINUS";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_minus>, <&mp_plus>;
        };

        td_slash_back: td_slash_back {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SLASH_BACK";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_slash>, <&mp_backslash>;
        };

        td_le: td_le {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_less_than>, <&mp_less_eq>;
        };

        td_me: td_me {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ME";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_more_than>, <&mp_more_eq>;
        };

        td_ru_e: td_ru_e {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RU_E";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mp_dollar>, <&mp_ru_e>;
        };
    };

    macros {
        mp_next_str_in_list: next_str_in_list {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp COMMA &kp SPACE &kp SQT>;
            label = "NEXT_STR_IN_LIST";
        };

        mp_next_dict_value: dict_value {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp COLON &kp SPACE>;
            label = "DICT_VALUE";
        };

        select_current_word: select_current_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LEFT) &kp LC(LS(RIGHT))>;
            label = "SELECT_CURRENT_WORD";
        };

        mp_less_than: less_than {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "LESS_THAN";
        };

        mp_more_than: more_than {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MORE_THAN";
        };

        mp_at: mp_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_AT";
        };

        mp_hash: mp_hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_HASH";
        };

        mp_dollar: mp_dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_DOLLAR";
        };

        mp_caret: mp_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_CARET";
        };

        mp_ampersand: mp_ampersand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_NUMBER_8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_AMPERSAND";
        };

        mp_s_quote: mp_s_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_9>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_S_QUOTE";
        };

        mp_d_quote: mp_d_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_D_QUOTE";
        };

        mp_dot_dot: mp_dot_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_5 &kp KP_NUMBER_8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_DOT_DOT";
        };

        mp_dot_comma: mp_dot_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_5 &kp KP_NUMBER_9>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_DOT_COMMA";
        };

        mp_grave: mp_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_GRAVE";
        };

        mp_comma: mp_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_COMMA";
        };

        mp_dot: mp_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_DOT";
        };

        mp_question: mp_question {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_QUESTION";
        };

        mp_exclamation: mp_exclamation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_EXCLAMATION";
        };

        mp_backslash: mp_backslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_BACKSLASH";
        };

        mp_minus: mp_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_MINUS";
        };

        mp_equal: mp_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_EQUAL";
        };

        mp_star: mp_star {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_STAR";
        };

        mp_plus: mp_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_PLUS";
        };

        mp_slash: mp_slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_SLASH";
        };

        mp_percent: mp_percent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_PERCENT";
        };

        mp_l_ro_br: mp_l_ro_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_L_RO_BR";
        };

        mp_r_ro_br: mp_r_ro_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_R_RO_BR";
        };

        mp_l_sq_br: mp_l_sq_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_L_SQ_BR";
        };

        mp_r_sq_br: mp_r_sq_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_R_SQ_BR";
        };

        mp_l_fg_br: mp_l_fg_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_L_FG_BR";
        };

        mp_r_fg_br: mp_r_fg_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_R_FG_BR";
        };

        mp_pipe: mp_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_PIPE";
        };

        mp_ru_e: mp_ru_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_RU_E";
        };

        mp_less_eq: mp_less_eq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mp_less_than &mp_equal>;
            label = "MP_LESS_EQ";
        };

        mp_more_eq: mp_more_eq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mp_more_than &mp_equal>;
            label = "MP_MORE_EQ";
        };

        mp_tilda: mp_tilda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_TILDA";
        };

        mp_ru_b: mp_ru_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_5 &kp KP_NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MP_RU_B";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        letters {
            bindings = <
                                  &q_esc  &kp W  &kp E             &kp R            &kp T              &kp Y        &kp U          &kp I                          &kp O    &kp P
                                  &kp A   &kp S  &kp D             &kp F            &kp G              &kp H        &kp J          &kp K                          &kp L    &kp SEMICOLON
&mods_on_left_0 LCTRL LEFT_SHIFT  &kp Z   &kp X  &kp C             &kp V            &kp B              &kp N        &kp M          &kp COMMA                      &kp DOT  &kp LEFT_BRACKET  &kp SQT
                                                 &mm_altab_on_alt  &undo_on_delete  &enter_on_space    &hidden_tab  &kp BACKSPACE  &mt LEFT_SHIFT LA(LEFT_SHIFT)
            >;
        };

        numbers {
            bindings = <
        &td_gr_tild     &mp_exclamation  &mp_at          &mp_hash      &td_ru_e     &mp_percent     &mp_caret  &mp_ampersand  &mp_star  &td_slash_back
        &kp N0          &kp N1           &kp N2          &kp N3        &kp N4       &kp N5          &kp N6     &kp N7         &kp N8    &kp N9
&trans  &td_qw_bracket  &td_ro_bracket   &td_sq_bracket  &td_quotes    &td_doots    &td_le          &td_me     &mp_comma      &mp_dot   &mp_question    &mp_pipe
                                         &kp KP_NUM      &kp CAPSLOCK  &trans       &td_plus_minus  &trans     &mp_equal
            >;
        };

        symbols {
            bindings = <
        &kp F2          &kp F3          &kp F4          &kp F5      &kp F6       &kp F7         &kp F8     &kp F9     &kp F10    &kp F11
        &kp N0          &kp N1          &kp N2          &kp N3      &kp N4       &kp PG_UP      &kp LEFT   &kp UP     &kp RIGHT  &kp LEFT_SHIFT
&trans  &td_qw_bracket  &td_ro_bracket  &td_sq_bracket  &td_quotes  &td_doots    &kp PAGE_DOWN  &mp_ru_b   &kp DOWN   &mp_dot    &mp_question    &kp F12
                                        &trans          &trans      &trans       &trans         &kp LG(P)  &kp LG(L)
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
